* {
  box-sizing: border-box;
}

/* for checking layout */
.border-black {
  border: 1px solid black;
}
.border-red {
  border: 1px solid red;
}
.border-blue {
  border: 1px solid blue;
}
.border-green {
  border: 1px solid green;
}
